@page "/"
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.DependencyInjection
@implements IAsyncDisposable

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private HubConnection _hubConnection;
    private readonly RequestStore _requestStore = new RequestStore();

    private void React(Func<bool> handler)
    {
        try
        {
            if (handler()) StateHasChanged();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/Trace"))
            .AddJsonProtocol()
            .Build();

        _hubConnection.On<HttpTraceEvent>("PushHttpTrace", messageEvent =>
            React(() => _requestStore.ReceiveEvent(messageEvent)));

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await _hubConnection.DisposeAsync();
    }
}
